body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e0f4f8;
  background-image: radial-gradient(#d0e0e0 1px, transparent 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #304040;
  padding-bottom: 1em;
}
